.uk-tile-muted {
    background: #f5f5f5 !important;
}

.uk-tab > .uk-active > a {
    border-color: #C62828 !important;
}

.uk-logo, span.uk-h4 {
    color: #C62828 !important;
}

a.uk-link-heading:hover {
    color: #C62828;
}

* {
    font-family: Lato, sans-serif !important;
}

html, body {
    min-height: 100vh;
    height: auto;
}

img.winner-portrait {
    width: 8em;
}

img.candidate-portrait {
    width: 3em;
    border: #e5e5e5 1px solid;
}

.google-chart {
    height: 30em;
    width: 100%;
}

#turnout-text {
    font-size: 6em;
}

#turnout-donut {
    height: 12em;
    padding: 0;
}